form.form-horizontal(ng-controller="AuthController")
    div.control-group
        label.control-label(for='inputEmail') Email
        div.controls
          input#inputEmail(type='email', required='required', placeholder='Email')
    div.control-group
        label.control-label(for='inputPassword') Password
        div.controls
          input#inputPassword(type='password', required='required', placeholder='Password')
    div.control-group
        div.controls
          label.checkbox
            input(type='checkbox', required='required')
            | Remember me
          button.btn.btn-primary(type='submit') Sign in 
          span &nbsp;
          a.btn.btn-primary(href='/auth/register') Register
          a.btn.btn-primary(href='/auth/google', style='display:none;') Login Using Google
