extends layout

block body
  div.container(ng-controller='AppCtrl')
    div#header
      img(src='/img/key-point.jpg',alt='Key Point',title='Key Point')
      div(class="pull-right")
        span#UserName(ng-UserName)
    div.navbar.navbar-inverse
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle='collapse',data-target='.navbar-inverse-collapse',style='position: static;')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          div.nav-collapse.collapse.navbar-inverse-collapse
            ul.nav
              li.active(auth-Visible)
                a(href='home') Home
              li(auth-Visible)
                a(href='book') Books
              li(auth-Visible)
                a(href='movie') Movies
              li(auth-Visible)
                a(href='#') Products
              li
                a(href='/aboutus') About Us
              li
                a(href='/contactus') Contact
            ul.nav.pull-right(auth-Visible)
              li#lnkLogOut
                a(ng-click="logout()", prevent-Default) logout
    div
      div
        div.lrpadding(ng-view='')


  script(src='js/vendor-script.js')
  script(src='js/app-script.js')