extends layout

block body
  div.container(ng-controller='AppCtrl')
    div#header
      img(src='/img/key-point.jpg',alt='Key Point',title='Key Point')
      div(class="pull-right") Ekta Mehta
    div.navbar.navbar-inverse
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle='collapse',data-target='.navbar-inverse-collapse',style='position: static;')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          div.nav-collapse.collapse.navbar-inverse-collapse
            ul.nav
              li.active
                a(href='home') Home
              li
                a(href='book') Books
              li
                a(href='movie') Movies
              li
                a(href='#') Products
              li
                a(href='#') About Us
              li
                a(href='#') Contact
            ul.nav.pull-right
              li
                a(href='signout') logout
    div.row
      div.span10
        div.lrpadding(ng-view='')


  script(src='js/vendor-script.js')
  script(src='js/app-script.js')