!!!
html(ng-app="myApp")
  head
    meta(charset='utf8', name="viewport", content="width=device-width, initial-scale=1.0")    	
    base(href='/')
    title Key Point
    link(rel='stylesheet', href='/css/style.css')
  body
    block body